<div class="section-contactos">
    <div class="container">
        <div class="content">
            <h2>Contactos</h2>

            <div class="group">
            <h3>{{params.contacs.city}}</h3>
            <h3>{{params.contacs.dir1}}</h3>
            <h3>{{params.contacs.dir2}}</h3>
            </div>

            <p>Contacto: <b>{{params.contacs.name}}</b></p>
            <p>Teléfono: <b>{{params.contacs.phone}}</b></p>
            <p>Email: <b>{{params.contacs.mail}}</b></p>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3986.978132092171!2d-79.9271473853684!3d-2.162023448424053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6432a471fb500e75!2sFEDENADOR%2C+Avenida+del+Bombero%2C+Guayaquil!5e0!3m2!1ses!2sec!4v1534805793928" width="50%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
